::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
}

#nav {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;

    width: fit-content;

    padding: 0.4rem;

    font-family: Verdana, Tahoma, 'Trebuchet MS', sans-serif;

    background-color: lightyellow;

    border: 1px solid black;
    border-radius: 5px;
}

form > button {
    align-self: flex-end;
}

#togglesAll {
    display: flex;
    flex-direction: row;
}

.toggleContainer {
    width: fit-content;

    padding: 0.4rem;

    font-family: Verdana, Tahoma, 'Trebuchet MS', sans-serif;

    background-color: whitesmoke;

    border: 1px solid black;
    border-radius: 5px;
}

#locationContainer {
    width: fit-content;

    padding: 0.4rem;

    font-family: Verdana, Tahoma, 'Trebuchet MS', sans-serif;

    background-color: lightyellow;

    border: 1px solid black;
    border-radius: 5px;
}

#alertsAll {
    display: flex;
    flex-direction: row;
}

.alertContainer {
    display: flex;
    flex-direction: column;
}

.alert {
    width: fit-content;

    padding: 1rem;

    font-family: Verdana, Tahoma, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

    color: antiquewhite;
    background-color: lightyellow;

    border: 1px solid black;
    border-radius: 10px;
}

.alert.ExtremeHeatWarning {
    background-color: maroon;
}

.alert.HeatAdvisory {
    background-color: darkOrange;
}

.alert.RedFlagWarning {
    background-color: red;
}

.alert.FloodAdvisory {
    background-color: darkblue;
}

.alert.AirQualityAlert{
    background-color: orange;
}

#content {
    display: flex;
    flex-direction: row;

    width: 100%;

    overflow: scroll;

    font-size: 1em;
    font-family: 'Trebuchet MS', Tahoma, Verdana, sans-serif
}

.titleContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.conditionsContainer {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    padding-top: 0;

    font-family: Verdana, Tahoma, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

    color: antiquewhite;
    background-color: lightyellow;

    border: 1px solid black;
    border-radius: 10px;
}

.conditionsContainer > .titleContainer {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.conditionsContainer > div > .icon {
    width: 5rem;
    height: 5rem;
}

.conditionsContainer > span {
    width: fit-content;

    overflow: scroll;

    padding: 1rem;

    font-family: Verdana, Tahoma, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-shadow: -0.75px -0.75px 0 #000, 0.75px -0.75px 0 #000, -0.75px 0.75px 0 #000, 0.75px 0.75px 0 #000;

    color: whitesmoke;
    background-color: darkslategray;

    border: 1px solid black;
    border-radius: 10px;

    white-space: nowrap;
}
.conditionsContainer > span.conditions {
    background-color: red;
}

.conditionsContainer > span.temp {
    background-color: orange;
}

.conditionsContainer > span.feelslike {
    background-color: yellow;
}

.conditionsContainer > span.humidity {
    background-color: green;
}

.conditionsContainer > span.precip {
    background-color: blue;
}