.content {
    font-size: 1em;
    font-family: 'Trebuchet MS', Tahoma, Verdana, sans-serif
}

.weatherAlertContainer {
    display: flex;
    flex-direction: column;
}

.weatherAlert {
    width: fit-content;

    padding: 1rem;

    font-family: Verdana, Tahoma, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

    color: antiquewhite;
    background-color: lightyellow;

    border: 1px solid black;
    border-radius: 10px;
}

.weatherAlert.ExtremeHeatWarning {
    background-color: maroon;
}

.weatherAlert.HeatAdvisory {
    background-color: darkOrange;
}

.weatherAlert.RedFlagWarning {
    background-color: red;
}

.conditionsContainer {
    width: fit-content;

    padding: 1rem;

    font-family: Verdana, Tahoma, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

    color: antiquewhite;
    background-color: lightyellow;

    border: 1px solid black;
    border-radius: 10px;
}